@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f6f7f8;
}

footer {
    z-index: 60; /* ou um valor maior */
}


.hidden {
    display: none;
}


#info-delivery {
    max-height: 250px; /* ou outro valor que você preferir */
    overflow-y: auto; /* Habilita rolagem vertical */
}


.modal-conteudo {
    max-height: 100%; /* ou o tamanho que você preferir */
    overflow-y: auto; /* permite rolagem vertical */
}



#over{overflow-y: auto;
    max-height: 100%}

#modal{overflow-y: auto;
max-height: 100%}

#info-delivery{
    overflow-y: auto;
max-height: 600px
}


.btnverde{
    background-color:#16A34A !important;
    color:white
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) { /* Ajuste a largura conforme necessário */
    .modal-conteudo {
        max-height: 100px; /* altura menor para celular */
        overflow-y: auto; /* permite rolagem vertical */
    }
}

.endereço_rolar {
    max-height: 200px; /* tamanho padrão */
    overflow-y: auto; /* permite rolagem vertical */
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) {
    .endereço_rolar {
        max-height: 150px; /* altura menor para celular */
    }
}
