@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f6f7f8;
}

footer {
    z-index: 60; /* ou um valor maior */
}


.hidden {
    display: none;
}


.modal-conteudo {
    max-height: 150px; /* ou o tamanho que você preferir */
    overflow-y: auto; /* permite rolagem vertical */
}

.endereço_rolar{
    max-height: 200px;
    overflow-y: auto;
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) { /* Ajuste a largura conforme necessário */
    .modal-conteudo {
        max-height: 100px; /* altura menor para celular */
        overflow-y: auto; /* permite rolagem vertical */
    }
}

.endereço_rolar {
    max-height: 200px; /* tamanho padrão */
    overflow-y: auto; /* permite rolagem vertical */
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) {
    .endereço_rolar {
        max-height: 150px; /* altura menor para celular */
    }
}
